{
    # 全局配置块
    servers :80 {
        # 强制开启 h1 和 h2c 支持
        # 如果不加 h2c，Xray 发来的解密 h2 流量会被 Caddy 拒收，导致空响应
        protocols h1 h2c
    }
}

:80 {
    encode gzip
    
    # 允许来自 Xray 的反代流量保持原样
    header_up Host {host}
    header_up X-Forwarded-Proto https
    
    # 伪装网站内容
    respond "Welcome to my personal blog!" 200
}
